<!DOCTYPE html lang="en">
<html>
  <head>
    <link type="text/css" href="css/flatly-bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="css/bootstrap-responsive.min.css" rel="stylesheet"/>
  </head>

  <body class="container">
    <div class="row">
      <h1>{{user}}</h1>
    </div>
    <div class="row">
      <ul class="thumbnails">
      {{#each content.stories}}
        <li class="span3"><a class="thumbnail" href="{{permalink}}" target="_blank"><img src="{{thumbnail}}" title="{{description}}" /></a></li>
      {{/each}}
      </ul>
    </div>
  </body>

</html>